CREATE TABLE crm_records (
  id BIGSERIAL PRIMARY KEY,
  fullName TEXT NOT NULL,
  phone TEXT,
  citizenId TEXT,
  pnr TEXT,
  depart TEXT,
  arrive TEXT,
  company TEXT,
  saleType TEXT,
  direction TEXT,
  shift TEXT,
  currentAccountPayment TEXT,
  bdLoad TEXT,
  virtualPos TEXT,
  card TEXT,
  commission TEXT,
  transfer TEXT,
  note TEXT,
  date DATE NOT NULL,
  userId TEXT NOT NULL,
  createdAt TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);
